



/*Display row*/

/*Margins Left*/
.ml-16{
    margin-left: 1rem;
}
.ml-1{
    margin-left: 1%;
}
.ml-10{
    margin-left: 10%;
}

.ml-45{
    margin-left: 45%;
}

.ml-70{
    margin-left: 70%;
}
/*Margin */

/*Margin Top*/
.mt-5{
    margin-top: 5%;
}
.mt-16{
    margin-top: 1rem;
}
.mt-24{
    margin-top: 1.5rem;
}
.mt--16{
    margin-top: -1rem;
}
/*Margin Bottom*/

.mb-0{
    margin-bottom: 0;
}

/*Font Size*/

/*heightAndwidth*/
.wd-144{
    width: 9rem;
}
.wd-25{
    width: 25%;
}

.wd-16{
    width: 1rem;
}
.w-35{
    width: 35%;
}
.w-73{
    width: 73%;
}
.wd-800{
    width: 50rem;
}
.ht-3{
    height: 3%;
}
/*#region Padding*/
.pd-1{
    padding:1rem
}

/*#endregion Padding*/